<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title></title>
  </head>
  <body>
    <div id="app">
      <div class="left">
        <template v-if="list.length">
          <div v-for="item in list" :key="item.name" :class="{'cell':true,'isselect':item.isselect}" @click="clickItem(item)">
            <img class="image2" :src="item.path" />
            <span class="span"> {{item.name}} </span>
          </div>
        </template>
        <template v-else>
          <div class="prompt">
            <h1>请复制svg至当前窗口</h1>
          </div>
        </template>
      </div>
      <div class="right">
        <h1>{{one.name}}</h1>
        <img class="image1" :src="one.path" />
      </div>
    </div>
    <script type="text/javascript" src="./bin/vue.min.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data() {
          return {
            list: [],
            one: {
              name: 'svg-look-look',
              path: './assets/svg.svg'
            }
          }
        },
        mounted() {
          utools.onPluginEnter(({ code, type, payload }) => {
            if (type === 'files') {
              payload.forEach(e => {
                this.list.push({
                  isselect: false,
                  name: e.name,
                  path: e.path
                })
              })
            }
          })
        },
        methods: {
          clickItem(item) {
            this.list.forEach(e => (e.isselect = false))
            item.isselect = true
            this.one = {
              name: item.name,
              path: item.path
            }
          }
        }
      })
    </script>
  </body>
</html>
